<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Benutzer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/games">Spiele</a>
  </li>
  <li class="nav-item">
    <a class="nav-link position-relative" href="/admin/registration-requests">
      Anmeldeanfragen
      <% if (typeof pendingRequestsCount !== 'undefined' && pendingRequestsCount > 0) { %>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          <%= pendingRequestsCount %>
          <span class="visually-hidden">ausstehende Anfragen</span>
        </span>
      <% } %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/padel-schedule">
      <i class="fas fa-table-tennis me-1"></i>Spielplan
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-ellipsis-h me-1"></i>Mehr
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/admin/game-reports"><i class="fas fa-flag me-2"></i>Gemeldete Spiele</a></li>
      <li><a class="dropdown-item" href="/admin/awards"><i class="fas fa-award me-2"></i>Awards</a></li>
      <li><a class="dropdown-item" href="/admin/email-export"><i class="fas fa-envelope me-2"></i>E-Mail Export</a></li>
      <li><a class="dropdown-item" href="/admin/umkleide-display"><i class="fas fa-tv me-2"></i>Umkleide Display</a></li>
    </ul>
  </li>
</ul>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user-shield me-1"></i> Admin
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="adminDropdown">
        <li><a class="dropdown-item" href="/auth/logout">Abmelden</a></li>
      </ul>
    </li>
  </ul>
